
/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #f8408d81 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

.App {
  text-align: center;
}

.row {
  justify-content: center;
}

/* Banner CSS */
.banner {
  margin-top: 0;
  padding: 100px 0 100px 0;
  background-image: url('./assets/background.png');
  background-position: top center;
  background-size: cover;
  background-repeat:space;
  background-clip: border-box;
  background-attachment:scroll;

}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.banner .headshot {
  width: 250px;
  max-height: 25rem;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 15px;
  margin: 50px;
  object-fit: cover;
  background: linear-gradient(var(--rotate), rgb(96, 144, 248) -5.91%, rgb(255, 97, 221) 111.58%);
  padding: 10px;
  background-size: 100%;
  animation: spin 5s ease infinite;
}

.banner .welcome {
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(96, 144, 248, 0.5) -5.91%, rgba(255, 97, 221, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 25px;
  margin-bottom: 16px;
  display: inline-block;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: #ffffff
}

.banner p {
  margin: auto;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 66%;
}

/* Skills CSS */
.skills {
  padding: 15px;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills h2 {
	font-size: 45px;
  text-align: center;
  margin: 10px;
  letter-spacing: 1.8px;
}

.skills h4 {
  font-size: 25px;
  color: #121212;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
  font-weight: 700;
}

.skill-box {
  border-radius: 64px;
  text-align: center;
  padding: 15px;
  background: linear-gradient(var(--rotate), rgb(96, 144, 248) -5.91%, rgb(255, 97, 221) 111.58%);
  animation: spin 15s ease infinite;
}

.carousel img {
  width: fit-content;
  height: 100px;
  margin: 15px;
}

/* Projects CSS */
.project {
  padding: 25px 0;
  position: relative;
}

.project a {
  font-size: 30px;
  color:#121212;
  opacity: .5;
  margin: 10px 20px;
  transition: all .3s ease-in-out;
}

.project a:hover {
  opacity: 10;
  color:#529dff;
}

.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1.8px;
}
.project p {
  color: #b8b8b800;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}

.project-image {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 15px;
}
.project-image::before {
  content: "";
  background: linear-gradient(90.21deg, rgba(96, 144, 248, 0.973) -5.91%, rgb(255, 97, 221) 111.58%);;
  opacity: 0.95;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.5s ease-in-out;
}
.project-image:hover::before {
  height: 100%;
}
.projectDesc {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 90%;
}
.project-image:hover .projectDesc {
  top: 50%;
  opacity: 1;
}
.projectDesc h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.projectDesc span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Nav Bar */
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 15px 0;
  background-color: #12121269;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

/* Resume */

.resume-box{
  border-radius: 64px;
  text-align: center;
  padding: 15px;
  background: linear-gradient(var(--rotate), rgb(96, 144, 248) -5.91%, rgb(255, 97, 221) 111.58%);
  animation: spin 15s ease infinite;
}

.resume span {
  font-size: 20px;

}

.resume h4 {
  font-size: 25px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  font-weight: 700;
  margin: 10px;
}

.resume h5 {
  font-size: 25px;
  color: #ffbd06;
  line-height: 1.5em;
  font-weight: 500;
}

/* Footer */
footer {
  font-size: 48px;
  justify-content: center;
}

footer a {
  color:#121212;
  opacity: .5;
  margin: 10px 20px;
  transition: all .3s ease-in-out;
}

footer a:hover {
  opacity: 10;
  color: #ff4971;
}

/* Contact Form */

#contact-form {
  margin: auto;
  width: 25%;
}

.contact h4{
  font-size: 25px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  font-weight: 700;
  margin: 10px;
}

#contact-form button{
  margin: 10px;
  padding: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

@media (max-width: 850px) {
.projectDesc h4 {
  font-size: 20px;
}
  
}
